.lea-grid-title {
    background-color: #0000ffee;
}

.lea-grid-header {
    background-color: #0000ff55;
}

.lea-grid-content {
    align-items: center;
    display: flex;
}

.lea-grid-rowof1 {
    height: 100%;
}

.lea-grid-rowof2 {
    height: 50%;
}

.lea-grid-rowof3 {
    height: 33.33%;
}

.lea-grid-rowof4 {
    height: 25%;
    align-items: center;
    display: flex;
}



.lea-grid-subject {
    font-weight: 700;
}


.lea-colours {
    background-color: ##002147;
    color: #46db4b;
}