:root {
/* LEA Brand Colours */
    --lea-vect-oxford-blue: #002147;
    --lea-vect-oxford-blue-rgb: 00,33,71;
    --lea-vect-lime: #46db4b;
    --lea-vect-engine-grey: #e2e2e2;
    --lea-vect-engine-grey-rgb: 226,226,226;
    --lea-vect-pale-blue: #bacded;
    --lea-vect-sky-blue: #19bee6;
    --lea-vect-white: #ffffff;
    --lea-vect-black: #000;
  }

title {
      display: none;
  }
.lea-vect-hidden {
    display: none;
}

/* Vector Standard Bootstrap Style Layout */

.lea-vect-row {
    width: 100%;
    display: flex;
}

.lea-vect-row div {
    float: left;
}

.lea-vect-col-1 {
    width: 8.333333%;
  
}

.lea-vect-booksapp {
    background-color: var(--lea-vect-engine-grey);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
}

.lea-vect-booksapp img {
    max-height: 50px;
    max-width: 50px;
    margin: 5px;
}

.lea-vect-col-2 {
    width: 16.66666%;
}

.lea-vect-col-3 {
    width: 25%;
}

.lea-vect-col-4 {
    width: 33.333333%;
}

.lea-vect-col-5 {
    width: 41.666666%;
}

.lea-vect-col-6 {
    width: 50%;
}

.lea-vect-col-7 {
    width: 58.333333%;
}

.lea-vect-col-8 {
    width: 66.666666%;
}

.lea-vect-col-9 {
    width: 75%;
}

.lea-vect-col-10 {
    width: 83.333333%;
}

.lea-vect-col-11 {
    width: 91.666666%;
}

.lea-vect-col-12 {
    width: 100%;
}

.lea-vect-grid-rowof1 {

}

.lea-vect-grid-rowof2 {
    height: 50%;
}

.lea-vect-grid-rowof3 {
    height: 33.33%;
}

.lea-vect-grid-rowof4 {
    height: 25%;
    align-items: center;
    display: flex;
}

.lea-vect-grid-rowof5 {
    height: 20%;
    align-items: center;
    display: flex;
}

.lea-vect-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* End of General Layout */
.lea-vect-fa {
    margin: 5px 10px;
    font-weight: 800;
    font-size: 120%;
}

.lea-vect-grid {
    margin: 0 0 10px 0;
    border-radius: 0;
}

.lea-vect-grid-title {
    text-align: center;
    padding: 20px 0;
    background-color: var(--lea-vect-oxford-blue);
    color: var(--lea-vect-white);
    font-weight: 800;
}

.lea-vect-grid-footer {
    padding: 10px;
    font-size: 120%;
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--lea-vect-oxford-blue);
}

.lea-vect-grid-footer, .lea-vect-grid-title {
    background-color: var(--lea-vect-engine-grey);
    color: var(--lea-vect-oxford-blue);
    margin: 0;
    font-weight: 900;
}

.lea-vect-grid-header {
    background-color: var(--lea-vect-engine-grey);
    text-align: center;
    color: var(--lea-vect-oxford-blue);
    padding: 10px;
    font-size: 120%;
    font-weight: 700;
}

.lea-vect-left {
    text-align: left;
}

.lea-vect-right {
    text-align: right;
}

.lea-vect-grid-row {
    border-left: 1px solid var(--lea-vect-oxford-blue);
    border-right: 1px solid var(--lea-vect-oxford-blue);
    margin: 0;
}

.lea-vect-grid-subtotal {
    font-weight: 700;
    font-size: 120%;
}

.lea-vect-grid-total {
    font-weight: 900;
    letter-spacing: 2px;
    background-color: rgba(var(--lea-vect-engine-grey-rgb),0.5);
}

.lea-vect-grid-content {
    align-items: center;
    display: flex;
    border: solid 1px var(--lea-vect-oxford-blue);
    padding: 10px 15px;
    margin: 0;
    font-size: 120%;
    color: var(--lea-vect-oxford-blue);
}


.lea-grid-this {
    font-weight: 900;
}

.lea-vect-grid-subject {
    font-weight: 700;
    text-align: left;
}

.lea-vect-grid-hours {
    text-align: right;
}

.lea-grid-hours-heading {
    text-align: right;
    font-weight: 700;
}

.lea-vect-grid-credits {
    border: solid 1px var(--lea-vect-oxford-blue);
    padding: 10px 2px;
    margin: 0;
    text-align: center;
    font-size: 110%;
    color: var(--lea-vect-oxford-blue);
}

.lea-vect-grid-subjects {
    border: solid 1px var(--lea-vect-oxford-blue);
    padding: 10px 2px;
    margin: 0;
    text-align: center;
    font-size: 100%;
    color: var(--lea-vect-oxford-blue);
}

#lea-creditsawarded {
    padding: 20px 0 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.lea-vect-colours {
    background-color: var(--lea-vect-oxford-blue);
    color: var(--lea-vect-lime);
}

.lea-vect-colours-text {
   color: var(--lea-vect-lime);
}



.lea-vect-revision-ytvideo {
    text-align: center;
    margin: 50px 10px 50px 10px;
    border-radius: 10px;
}

.lea-vect-grid-maintotal {
    font-weight: 900;
    font-size: 130%;
    background-color: var(--lea-vect-engine-grey);
}

.lea-vect-revision{
    padding: 10px;
    background-image: linear-gradient(160deg, var(--lea-vect-oxford-blue),rgba(var(--lea-vect-oxford-blue-rgb), 0.8), var(--lea-vect-white));
    font-size: 20pt;
    color: var(--lea-vect-sky-blue);
    border-radius: 5px;
    margin: 20px 0;
}

.lea-vect-readinghead {
    padding: 20px;
    color: var(--lea-vect-white);
    background-image: linear-gradient(to right, #003157ff,#003157dd,#00315700 );
    letter-spacing: 2px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.lea-vect-readinghead h2, .lea-vect-progresstesthead h2 {
    font-size: 130%;
    color: var(--lea-vect-white);
    font-weight: 600;
}

.lea-vect-readingstart {
    border-radius: 10px 10px 0 0;
}

.lea-vect-readingfinish {
    border-radius: 0 0 10px 10px;
    margin: 0 0 10px 0;  
}

.lea-vect-fa-progress {
    color: var(--lea-vect-sky-blue);
}

.lea-vect-readinghead p, .lea-vect-progresstesthead p {
    font-size: 100%;
    color: var(--lea-vect-white);
}



.lea-vect-readingbground {
    background-size: cover;
    margin: 20px 0 0 0;
    background-image: url('https://stephenjclarke.github.io/leadingedgevle/images/iPad_Reading.jpg');
    background-repeat: no-repeat;
    padding: 0px;
    background-size: fit;
    background-position: right;
}

.lea-vect-progresstesthead {
    font-size: 120%;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(to right, #003157ff,#003157dd,#00315700 );
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
    margin: 10px 0;
}

.lea-vect-progresstestbground {
    background-size: cover;
    margin: 20px 0 0 0;
    border-radius: 5px;
    background-image: url('https://stephenjclarke.github.io/leadingedgevle/images/final_exam.jpg');
    background-repeat: no-repeat;
    padding: 0px;
    background-size: fit;
    background-position: right;
    border-radius: 5px;
}
.lea-vect-modulehead {
    font-size: 180%;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(to right, #003157ff,#003157dd,#00315700 );
    letter-spacing: 2px;
    font-weight: 700;
}

.lea-vect-grid-modulehead {
    font-size: 140%;
    padding: 20px 0 0 0;
    color: #002147ff;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.lea-vect-modulebground {
    background-image: url('https://vle.leadingedgeaviation.com/pluginfile.php/1/theme_tltitan/headerdefaultimage/1636042074/header.jpg');
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0 0 20px 0;
    background-size: cover;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

.lea-vect-waypoint-box {
    text-align: center;
    margin: auto 10px auto 0;
    background-image: linear-gradient(to right,var(--lea-vect-oxford-blue), rgba(var(--lea-vect-oxford-blue-rgb),0));
    border-radius: 5px;
    padding: 10px 0;
}

.lea-vect-waypoint-box i {
    margin: auto;
    color: var(--lea-vect-white);
}

.lea-vect-waypoint-box p {
    font-size: 1.1vmin;
    letter-spacing: 0px;
    color: var(--lea-vect-white);
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.lea-vect-waypoint-box h3 {
    font-size: 2.5vmin;
    letter-spacing: 1px;
    color: var(--lea-vect-white);
    margin: 0;  
}

.lea-vect-waypoint-hours {
    text-align: center;
    margin: auto 20px auto 0;
    padding: 10px 0;
}

.lea-vect-waypoint-hours p {
    font-size: 1.2vmin;
    letter-spacing: 0px;
    color: var(--lea-vect-oxford-blue);
    margin: 0;
    padding: 0;
    text-align: center;
}

.lea-vect-waypoint-hours h2 {
    font-size: 2.5vmin;
    letter-spacing: 1px;
    color: var(--lea-vect-oxford-blue);
    margin: 0;
    
}



.lea-vect-unithead-left,  .lea-vect-unithead-right{
    font-size: 140%;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

.lea-vect-unithead-left {
    color: #fff;
    background-image: linear-gradient(to right, var(--lea-vect-oxford-blue),rgba(var(--lea-vect-oxford-blue-rgb), 0.5) );
    border-radius: 5px 0px 0px 0px;
}

.lea-vect-unithead-left p {
 font-size: 80%;
 font-weight: 200;
}

.lea-vect-unithead-right{
    color: #002147;
    background-image: linear-gradient(to right,rgba(var(--lea-vect-oxford-blue-rgb), 0.5) ,rgba(var(--lea-vect-oxford-blue-rgb), 0.1), var(--lea-vect-engine-grey) );
    text-align: right;
    border-radius: 0 10px 0px 0;
 }

.lea-vect-unitbground {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 0 20px 0;
    background-size: cover;
    margin: 20px 0 0 0;
    border-radius: 5px;
}


.lea-vect-schoolfinalhead {
    padding: 10px;
    background-color: var(--lea-vect-pale-blue);
    font-size: 130%;
    color: var(--lea-vect-oxford-blue);
    border-radius: 5px;
    margin: 20px 0;
    border: 5px inset var(--lea-vect-engine-grey);
}

.lea-vect-schoolfinalhead ul {
    margin: 0 20px;
    font-size: 80%;
 }

 .lea-vect-progresstestdescription {
    padding: 0 5px 20px 0;
    background-color: var(--lea-vect-white);
    font-size: 100%;
    color: var(--lea-vect-oxford-blue);
    border-radius: 5px;
    margin: 0;
}


.lea-vect-testhead {
    padding: 10px;
    background-color: var(--lea-vect-engine-grey);
    font-size: 130%;
    color: var(--lea-vect-oxford-blue);
    border-radius: 5px;
    margin: 20px 0;
    border: 2px solid var(--lea-vect-oxford-blue);
}

.lea-vect-testhead ul {
   margin: 0 20px;
   font-size: 100%;
}

.lea-vect-link {
    font-size: 100%;
    border-radius: 5px;
    color: #000000dd;
    margin: 0 0 20px 0;
    border: 1px solid #002147;
    width: 80%;
}

.lea-vect-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    height: 100%;
    background-color: #00214722;
}

.lea-vect-link div {
    padding: 0;
}

.lea-vect-linktext {
    font-size: 100%;
    border-radius: 0 5px 5px 0;
    background-color: #00214722;
    margin: 0;
    display: flex;
    align-items: center;
}

.lea-vect-head-left-01 {
    font-size: 20pt;
    padding: 10px;
    border-radius: 5px;
}

.lea-vect-head-centre-01 {
    font-size: 20pt;
    padding: 30px;

    text-align: center;
    color: #fff;
    background-image: linear-gradient(to top, rgba(var(--lea-vect-oxford-blue-rgb),1), rgba(var(--lea-vect-oxford-blue-rgb),0));
    
}



.lea-vect-head-centre-bground {
    background-image: url('https://leadingedgeaviation.com/wp-content/uploads/LEA-PCL-Prize-3.jpg');
    background-repeat: no-repeat;

    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.lea-vect-head-centre-01, .lea-vect-head-centre-bground {
    margin: 20px 0px 0 0;
}


.lea-vect-head-topics-left {
    font-size: 150%;
    padding: 10px;
    border-radius: 5px 0px 0 0;
    background-color: var(--lea-vect-oxford-blue);
    color: var(--lea-vect-white);
}

.lea-vect-head-topics-right {
    font-size: 150%;
    padding: 10px;
    border-radius: 0px 5px 0 0;
    text-align: center;
    background-color: var(--lea-vect-oxford-blue);
    color: var(--lea-vect-white);
}

.lea-vect-vimeo {
    padding:30% 0 0 0;
    position:relative;
    background-color: var(--lea-vect-oxford-blue);
}

.lea-vect-vimeo iframe {
    position:absolute;
    top:0;
    left:20%;
    width:60%;
    height:90%;
}


.lea-vect-head-schoolfinals {
    font-size: 150%;
    padding: 10px;
    background-color: #005599ee;
    color: #ffffffdd;
    border-radius: 5px;
    margin: 20px 0;
}

.lea-vect-completed {
    font-size: 0.9vw;
    border-radius: 5px;
     background-color: var(--lea-vect-pale-blue);
    margin: 30px 0 30px 0;
    color: var(--lea-vect-oxford-blue);
    padding: 0px;
    font-weight: 600;
    line-height: 1.1vw;
}

.lea-vect-completed-text {
       padding: 10px;
       font-size: 1vw;
       margin: auto 0;
    }

.lea-vect-head-checklist {
    font-size: 150%;
    border-radius: 10px;
    background-color: var(--lea-vect-oxford-blue);
    margin: 0 0 30px 0;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}

.lea-vect-head-certificate {
    font-size: 150%;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #002147;
    margin: 0 0 30px 0;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}

.lea-vect-unit-complete {
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    background-color: #002147;
    color: #fff;
    margin: 0 0 20px 0;
}

/* Start of LEA Moodle Formatting */
.lea-mdl-corecontent {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 20pt;
    letter-spacing: 2px;
    font-weight: 900;
    margin: 20px 0 0 0;
}

.lea-mdl-additionalcontent {
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    font-size: 14pt;
}

.lea-mdl-knowledgecheck {
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 16pt;
    letter-spacing: 1px;
    font-weight: 900;
}

.lea-mdl-title {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 24pt;
    background-image: url(https://leadingedgeaviation.com/wp-content/uploads/lea-a320-simulator-hire-hero2.jpg);
}

.lea-mdl-ytvideo {
    text-align: center;
    margin: 0 0 20px 0px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #002147;
    padding: 20px;
}

.lea-mdl-bground {
    background-image: url('https://leadingedgeaviation.com/wp-content/uploads/LEA-PCL-Prize-3.jpg');
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 5px;
    background-size: cover;
    margin-top: 20px;
}

.lea-mdl-heading-01 {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 90%;
}

.lea-mdl-heading-01 p{
    text-align: center;
    font-size: 160%;
}

.lea-mdl-text-01-c p {
    text-align: center;
    font-size: 100%;
    color: #fff;
}

.lea-vect-grid-ksarow {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lea-vect-studyplan {
    font-size: 120%;
    background-color: var(--lea-vect-engine-grey);
    border: 3px solid var(--lea-vect-oxford-blue);
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
}

.lea-vect-studyplan p b {
    font-size: 140%;
    color: var(--lea-vect-oxford-blue);
    text-align: center;
    }

.lea-vect-bullet1 {
    list-style-type: circle;
}


/* End of LEA Moodle CS*/

